@import './nomalize.css';
@import './variables.scss';

@font-face {
    font-family: 'terminal';
	src: url('/fonts/DungGeunMo.woff2') format('woff2');
}

body {
	font-family: 'terminal';
	font-size: 1rem;
	line-height: 1;
	color: $font-color !important;
	background: $background-color !important;
	margin: 0;
	padding: 0;
}

.vt-container{
	overflow-x: hidden;
	margin-left: auto;
	margin-right: auto;
}

.vt-page{
	min-height: 100vh;
}

@media(max-width: $viewport-break){
	html{
		font-size: 4vw;
	}

	.vt-container{
		font-size: 4vw;
		margin-left: 2vw;
		margin-right: 2vw;

		.vt-h-char-6{
			font-size: 15.5vw;
			margin-left: -2vw;
			margin-right: -2vw;
		}
		.vt-h-char-5{
			font-size: 19vw;
			margin-left: -2vw;
			margin-right: -2vw;
		}
		.vt-h-char-4{
			font-size: 23.5vw;
			margin-left: -2vw;
			margin-right: -2vw;
		}
	}
}

@media(min-width: $viewport-break){
	html{
		font-size: $viewport-break / $line-text-lenght;
	}

	.vt-container{
		font-size: $viewport-break / $line-text-lenght;
		max-width: $viewport-break;
		.vt-h-char-6{
			font-size: ( $viewport-break / 6 ) - 10;
			line-height: 1.2em;
		}
		.vt-h-char-5{
			font-size: ( $viewport-break / 5 ) - 10;
			line-height: 1.2em;
		}
		.vt-h-char-4{
			font-size: ( $viewport-break / 4 ) - 10;
			line-height: 1.2em;
		}
	}
}

@import './texts.scss';
@import './box.scss';
@import './components.scss';