@import './variables.scss';


.vt-font-sm{
    font-size: 0.8em;
}

.vt-font-md{
    font-size: 1em;
}

.vt-font-lg{
    font-size: 1.5em;
}

.vt-weight-thin{
    font-weight: 300
}

.vt-weight-bold{
    font-weight: 700
}

.vt-weight-bolder{
    font-weight: 900;
}